@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* Constants */
* {
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}

h2, h3, h4, h5, h6 {
    color: #dadada;
    font-weight: 500;
}

a {
    text-decoration: none;
}

input {
    color: #000;
}

.bi {
    font-size: 24px;
}

hr {
    height: 1px;
    background-color: #242424;
    border: none;
}

.btn {
    border-radius: 4px;
    background-color: #eaeaea;
    user-select: none;
}

.btn * {
    user-select: none;
}

.btn:hover {
    background-color: #fff;
}

.btn:hover * {
    color: #000;
}

::selection, ::-moz-selection {
    color: #000;
    background-color: #fff;
}

/* Reusables */
.contained {
    margin: auto;
    max-width: 935px;
}

.centrized {
    display: flex;
    padding: 0 10px;
}

.no-height {
    max-height: 0px;
}

/* Nav */
.nav-section {
    border-bottom: 1px solid #242424;
}

.navbar {
    height: 54px;
    position: sticky;
}

.brand {
    height: 100%;
}

.brand img {
    height: 100%;
}

.nav-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    list-style: none;
    min-width: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-menu {
    position: relative;
    width: 24px;
    height: 24px;
}

#profile-menu svg {
    border-radius: 50%;
}

.profile-border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 28px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.dropmenu {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    border: 1px solid #242424;
    transition: all 0.1s ease-out;
}

.dropitem {
    min-width: 200px;
    padding: 12px;
    font-size: 14px;
    background-color: #000;
}

.dropitem:hover {
    background-color: #121212;
}

.droparrow {
    content: '';
    position: absolute;
    top: -7px;
    right: 19%;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    background-color: #000;
    border-top: 1px solid #242424;
    border-left: 1px solid #242424;
    z-index: 999;
}

.dropitem:nth-child(1):hover .droparrow {
    background-color: #121212;
}

.dropitem i {
    font-size: 16px;
    padding-right: 12px;
}


/* Login & Register */


/* Home */
.home {
    padding-top: 30px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.expense-main {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.this-month {
    font-size: 24px;
}

.expense-value {
    margin-top: 12px;
    font-size: 50px;
    font-weight: 600;
}

.home-content {
    flex: 8;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
}

.home-btns {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-btns .btn {
    position: relative;
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-btns .btn i {
    font-size: 80px;
    font-weight: 700;
    color: #242424;
    transition: all 0.2s ease-out;
}

.home-btns .btn span {
    position: absolute;
    top: 44%;
    left: 20%;
    font-size: 120px;
    font-weight: 600;
    color: #cacaca;
    transition: all 0.2s ease-out;
}

.home-btns .btn:hover i {
    font-size: 74px;
}

.home-btns .btn:hover span {
    transform: translateX(-8%);
}

.home-log {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #242424;
}

.transaction-title {
    flex: 1;
    width: 100%;
    margin-bottom: 16px;
    border-bottom: 1px solid #242424;
}

.transaction {
    flex: 2;
    width: 100%;
    display: flex;
    align-items: center;
}

.transaction:hover {
    background-color: #121212;
}

.transaction .column {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transaction .column:nth-child(1) {
    flex: 1;
    align-items: flex-start;
    padding-left: 8px;
}

.column .type i {
    font-size: 40px;
}

.transaction .column:nth-child(2) {
    flex: 3;
    border-bottom: 1px solid #242424;
    align-items: flex-start;
}

.description, .category, .date {
    color: #cacaca;
}

.description {
    font-weight: 600;
}

.transaction .column:nth-child(3) {
    flex: 4;
    border-bottom: 1px solid #242424;
    align-items: flex-end;
    padding-right: 8px;
}

.transaction .column span:nth-child(2) {
    font-size: 14px;
}

.amount {
    color: #fff;
    font-weight: 600;
}

.transaction-btn {
    flex: 1;
    margin-top: 16px;
    width: 80%;
    color: #242424;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}


