{% extends "layout.html" %}

{% block body %}
    <section class="centrized home">
        <div class="expense-main">
            <div class="this-month">{{ month }} Expenses</div>
            <div class="expense-value">MMK {{ expense }}</div> 
        </div>
        <div class="budget-percent">

        </div>
        </div>
        <div class="home-content">
            <div class="home-btns">
                <a href="/expense" class="btn expense-btn">
                    <i class="bi bi-dash"></i>
                    <span>expense</span>
                    <div class="tooltip">Add expense</div>
                </a>
                <a href="/income" class="btn income-btn">
                    <i class="bi bi-plus"></i>
                    <span>income</span>
                    <div class="tooltip">Add income</div>
                </a>
                <a href="/logout" style="display: none">
                    <button class="btn">Sign out</button>
                </a>
            </div>
            <div class="home-log">
                transactions
            </div>
        </div>
    </section>
{% endblock %}
