<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/static/styles.css" rel="stylesheet">

    <title>Minux</title>
</head>
<body>
    {% if session.user_id %}
        <section class="nav-section">
            <nav class="contained navbar">
                <div class="centrized nav-content">
                    <a href="/" class="brand"><img src="/static/imgs/logo-type.png" alt="minux logo"></a>
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="/"><i class="bi bi-house"></i></a></li>
                        <li class="nav-item"><a href="/log"><i class="bi bi-journal-minus"></i></a></li>
                        <li class="nav-item">
                            <a id="profile-menu" style="cursor: pointer">
                                {{ session['user_pic'] | safe }}
                                <div class="profile-border" style="display: none"></div>
                            </a>
                            <div class="dropmenu" style="display: none">
                                <a href="/profile" class="dropitem"><div class="droparrow"></div><i class="bi bi-person"></i>Profile</a>
                                <a href="/settings" class="dropitem"><i class="bi bi-gear-wide"></i>Settings</a>
                                <hr>
                                <a href="/logout" class="dropitem">Log Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
    {% endif %}
    <main class="contained">
        {% block body %}{% endblock %}
    </main>

    <script type="text/javascript">
        let dropDisplay = document.querySelector('.dropmenu');
        let profileBorder = document.querySelector('.profile-border');

        function toggleMenu() {
            if (dropDisplay.style.display == "none") {
                dropDisplay.style.display = "flex";
                profileBorder.style.display = "block";
            }
            else {
                hideMenu();
            }
        }

        function hideMenu() {
            if (dropDisplay.style.display != "none") {
                dropDisplay.style.display = "none";
                profileBorder.style.display = "none";
            }
        }

        document.addEventListener('DOMContentLoaded', function() {
            let profileMenu = document.querySelector('#profile-menu')
            profileMenu.onclick = toggleMenu;
            document.addEventListener('click', e => {
                if (!profileMenu.contains(e.target)) {
                    hideMenu();
                }
            });
        });
    </script>
    {% block script %}{% endblock %}
</body>
</html>