{% extends "layout.html" %}

{% block body %}
    <section class="centrized full-height login">
        <h1 class="login-title">Log into Minux</h1>
        <form action="/login" method="post" class="login-form">
            <div class="form-group">
                <label for="username" style="display: none;">USERNAME</label>
                <div class="form-control">
                    <input autocomplete="off" autofocus id="username" name="username" placeholder="Username" type="text">
                </div>
            </div>
            <div class="form-group">
                <label for="password" style="display: none;">PASSWORD</label>
                <div class="form-control">
                    <input id="password" name="password" placeholder="Password" type="password">
                </div>
            </div>
            <button class="btn valid-btn" type="submit" disabled>Log in</button>
        </form>

        <a href="/recover-password" class="extra-btn recover" type="submit">
            Forgot password?
            <span class="btn-border"></span>
        </a>
    
        <a href="/signup" class="extra-btn login-signup" type="submit">
            Create account
            <span class="btn-border"></span>
        </a>
    </section>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/buttons.js"></script>
{% endblock %}