{% extends "layout.html" %}

{% block body %}
    <section class="centrized login">
        <form action="/login" method="post">
            <div class="form-group">
                <label for="username" style="display: none">Username</label>
                <input class="form-control" autocomplete="off" autofocus id="username" name="username" placeholder="Username" type="text">
            </div>
            <div>
                <label for="password" style="display: none">Password</label>
                <input class="form-control" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn" type="submit">Sign in</button>
        </form>
    
        <form action="/signup" method="get">
            <button class="btn" type="submit">Sign up</button>
        </form>
    </section>
{% endblock %}